@{
    ViewData["Title"] = "Contact";
}
<h2>Наши контакты</h2>

<address>
    Студенты <i>"Санкт-Петербургского государственного университета"</i><br />
    Факультета <i>"Прикладной математики и процессов управления"</i>
</address>

<h4>По всем вопросам можете писать нам в соц.сеть:</h4>
<address>
    <strong>Денис Игнатьев:</strong> <a href="https://vk.com/denisignat1">https://vk.com/denisignat1</a><br />
    <strong>Дмитрий Терещенко:</strong> <a href="https://vk.com/id134759185">https://vk.com/id134759185</a><br />
    <strong>Евгений Олешкевич:</strong> <a href="https://vk.com/id133244869">https://vk.com/id133244869</a>
</address>
