
@{
    ViewData["Title"] = "Profile";
}

<div class="register-panel panel panel-success">
    <div class="panel-heading text-center"><h4>Профиль</h4></div>
    <div class="panel-body">
        <div>

        </div>
    </div>
</div>



