@page
@model WebVisualGame.Pages.PlayingModel
@{
    ViewData["Title"] = "Игра";
}

<style rel="stylesheet">
    #Game {
        margin: 1% 25% 0 25%;
        width: 500px;
        border: groove;
    }
    #Question {
        border-bottom: groove;
        background-color: aliceblue;
        color: brown;
        text-align: center;
        height: max-content;
    }
    #Image {
        height: 400px;
        /*
        background-image: url(./images/kingImg.jpg);
        background-repeat: round;*/
    }
    #Image img{
        width:493px;
        height:inherit;
    }
    #ListAnswers {
        border-top: groove;
        background-color: aliceblue;
        height: max-content;
    }
    #Answer {
        background-color:transparent;
        border:none;
        margin:3px;
    }
    #Answer:hover {
        text-shadow: 0 0 0.7em maroon;
        color: green;
    }
</style>
<div id="Game">
    <div id="Question">
        <p>@Model.Point.Text</p>
    </div>
    <div id="Image">
        <img src="./images/hard_life.jpg" alt="Картинка" />
    </div>
    <div id="ListAnswers">
		<ul>
			@foreach (var transition in Model.Transitions)
			{
				<li>
					<form method="POST">
						<button id="Answer" type="submit" asp-page-handler="Answer" asp-route-id_transition="@transition.Id">@transition.Text</button>
					</form>
				</li>
			}
		</ul>
    </div>
</div>


