@page
@model WebVisualGame.Pages.RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="panel panel-success">
    <div class="panel-heading text-center"><h4>Регистрация</h4></div>
    <div class="panel-body">
        <form asp-action="Register" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="user.FirstName">Ваше Имя:</label>
                <input asp-for="user.FirstName" />
            </div>
            <div class="form-group">
                <label asp-for="user.LastName">Ваша Фамилия:</label>
                <input asp-for="user.LastName" />
            </div>
            <div class="form-group">
                <label asp-for="user.Login">Ваш Логин:</label>
                <input asp-for="user.Login" />
            </div>
            <div class="form-group">
                <label asp-for="user.Password">Ваш Пароль:</label>
                <input asp-for="user.Password" />
            </div>
            <div class="form-group">
                <label asp-for="user.Email">Ваш Email:</label>
                <input asp-for="user.Email" />
            </div>
            <div class="text-center">
                <button class="btn bg-primary" type="submit">Зарегистрироваться!</button>
            </div>
        </form>
    </div>
</div>