@model WebVisualGame_MVC.Models.PageModels.AccountModel.RedactionModel
@{
    ViewData["Title"] = "Редактирование";
}

<div class="my-panel panel panel-success">
    <div class="panel-heading text-center"><h4>Редактирование профиля</h4></div>
    <div class="panel-body">
        <form asp-action="Redaction" asp-controller="Account" method="post" enctype="multipart/form-data">
            <div class="validation" asp-validation-summary="ModelOnly" />
            <ul class="text-danger">
                @foreach (var error in Model.Errors)
                {
                    <li>@error</li>
                }
            </ul>
            <div class="form-group">
                <label class="field-labels" asp-for="userInfo.FirstName">Ваше Имя:</label>
                <input type="text" asp-for="userInfo.FirstName" />
                <span asp-validation-for="userInfo.FirstName" class="text-danger" />
            </div>
            <div class="form-group">
                <label class="field-labels" asp-for="userInfo.LastName">Ваша Фамилия:</label>
                <input type="text" asp-for="userInfo.LastName" />
                <span asp-validation-for="userInfo.LastName" class="text-danger" />
            </div>
            <div class="form-group">
                <label class="field-labels" asp-for="userInfo.Login">Ваш Логин:</label>
                <input type="text" asp-for="userInfo.Login" />
                <span asp-validation-for="userInfo.Login" class="text-danger" />
            </div>
            <div class="form-group">
                <label class="field-labels" asp-for="userInfo.Email">Ваш Email:</label>
                <input type="text" asp-for="userInfo.Email" />
                <span asp-validation-for="userInfo.Email" class="text-danger" />
            </div>
            <div class="form-group">
                <label class="field-labels" asp-for="userInfo.Password">Ваш Пароль:</label>
                <input type="password" asp-for="userInfo.Password" />
                <span asp-validation-for="userInfo.Password" class="text-danger" />
            </div>
            <div class="form-group">
                <label class="field-labels" asp-for="userInfo.ConfirmPassword">Ваш Пароль (повторно):</label>
                <input type="password" asp-for="userInfo.ConfirmPassword" />
                <span asp-validation-for="userInfo.ConfirmPassword" class="text-danger" />
            </div>
            <div class="form-group">
                <label class="field-labels" asp-for="userInfo.Avatar">
                    <abbr class="text-danger" title="Необязательно">*</abbr>Аватар:
                </label>
                <input type="file" asp-for="userInfo.Avatar" />
                <span asp-validation-for="userInfo.Avatar" class="text-danger" />
            </div>
            <div class="text-center">
                <button class="btn bg-primary" type="submit">Изменить!</button>
            </div>
        </form>
    </div>
</div>
